<h1>Buy one of our great product!</h1>
<%= render 'layouts/flashes' %>
<div class="row">
  <div class="col-md-6">
    <%= render 'sellings/form' %>
  </div>
</div>

<%= link_to 'Product administration', products_path %> |
<%= link_to 'Change administration', coins_path %>
